{%- assign class = class | default: blank -%}
{%- assign src = src | default: false -%}
{%- assign retina = retina | default: false -%}
{%- assign srcset = srcset | default: false -%}
{%- assign seo = seo | default: false -%}
{%- assign fit = fit | default: 'cover' -%}
{%- assign loader = loader | default: true -%}

{%- capture css -%}
  img fit-{{ fit }} {{ class }}
{%- endcapture -%}

{%- capture attributes -%}
  {%- if seo %}title="{{ seo | strip }}" alt="{{ seo | strip }}"{%- endif -%}
{%- endcapture -%}

<div class="{{ css | strip }}" data-module="image">
  <noscript>
    <img class="img__el is-fallback {{ class }}" src="{{ src | strip }}" {{ attributes | strip }}>
  </noscript>
  {%- if loader -%}
    <i class="img__loader"></i>
  {%- endif -%}
  <img class="img__el js-image {{ class }}" data-normal="{{ src | strip }}" {%- if retina -%}data-retina="{{ retina | strip }}"{%- endif -%} {%- if srcset -%}data-srcset="{{ srcset | strip }}"{%- endif -%} {{ attributes | strip }}>
</div>

{%- assign class = nil -%}
{%- assign src = nil -%}
{%- assign retina = nil -%}
{%- assign srcset = nil -%}
{%- assign seo = nil -%}
{%- assign fit = nil -%}
{%- assign loader = loader | default: true -%}
{%- assign css = nil -%}
{%- assign attributes = nil -%}
