{%- assign text = text | default: blank -%}
{%- assign image_src = image_src | default: blank -%}
{%- assign video_url = video_url | default: blank -%}
{%- assign class = class | default: blank -%}

{%- capture css -%}
  hero {{ class }}
{%- endcapture -%}

<div class="{{ css | strip }}" data-module="hero">
  <div class="hero__featured ratio bg-grey-light">
    {%- if video_url != blank -%}
      {%- include 'video' with video_url,
        fallback_mobile: image_src,
        class: 'hero__video' -%}
    {%- else -%}
      {%- include 'image',
        src: image_src,
        loader: false,
        class: 'hero__image' -%}
    {%- endif %}
  </div>
  {%- if text != blank -%}
  <div class="hero__content w1 px1">
    <h2 class="h2 align-c mv0 uppercase">{{ text }}</h2>
  </div>
  {%- endif -%}
</div>

{%- assign text = nil -%}
{%- assign image_src = nil -%}
{%- assign video_url = nil -%}
{%- assign class = nil -%}
