{% case logo %}

  {% when 'logo-main' %}
    <svg viewBox="0 0 279.3 47.5">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-main" x="0" y="0"></use>
    </svg>

  {% when 'logo-subtitle' %}
    <svg viewBox="0 0 423.3 11.3">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-subtitle" x="0" y="0"></use>
    </svg>

{% endcase %}
