.product-images {
  margin-top: 50px;
  width: 100%;
}

.product-images__featured {
  margin-bottom: 50px;

  &:before {
    padding-bottom: 75.16339%;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
