<div class="product-images" data-module="product-images">
  <div
    v-for="(image, index) in images"
    class="product-images__featured ratio bg-grey-light">
    <div
      :key="'image-' + index"
      :spinner="false"
      css="fit-cover"
      :src="image"
      is="vue-image">
    </div>
  </div>
  <template
    v-for="(image, index) in modelImages">
    <div
      class="product-images__featured ratio">
      <div
        :key="'model-' + index"
        :spinner="false"
        css="fit-cover"
        :src="image"
        is="vue-image">
      </div>
    </div>
  </template>
</div>
