.promobar {
  background-color: var(--black);
  color: var(--white);
  left: 0;
  padding: .75em var(--gutter);
  position: relative;
  top: 0;
  width: 100%;
  z-index: 9;
}

.promobar__close {
  transform: translateY(-50%);
  cursor: pointer;
  position: absolute;
  right: var(--gutter);
  top: 50%;

  svg {
    fill: currentColor;
    height: 11px;
    width: 11px;
  }
}

