.product-form {
  max-width: 300px;
  width: 100%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 100;

  @media (--s) {
    margin-top: 0;
    margin-left: auto;
    margin-right: 0;
  }

  .button {
    max-width: none;
  }
}

.product-form__select-variant {
  &.is-active {
    border: 1px solid var(--mercury);
    background-color: var(--white);
    color: var(--black);

    &:hover,
    &:focus {
      background-color: var(--mercury);
    }

    svg {
      transform: scaleY(-1);
    }
  }
}

.product-form__variants {
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--speed) var(--ease);
  position: absolute;
  left: 0;
  width: 100%;
}

.product-form__variant {
  background-color: var(--white);
  cursor: pointer;
  font-family: var(--courier);
  font-size: 0.875rem;
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  border-bottom: 1px solid var(--mercury);
  border-left: 1px solid var(--mercury);
  border-right: 1px solid var(--mercury);

  &:hover,
  &:focus {
    background-color: var(--mercury);
  }
}

.product-form__submit {
  @extend .product-form__variant;
  background-color: var(--black);
  color: var(--white);

  &:hover,
  &:focus {
    background-color: var(--black);
    color: var(--white);
  }
}
