<form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form" @submit.prevent="addToCart" data-module="product-form">
  {%- if product.has_only_default_variant -%}
    {%- assign value = 'products.product.add_to_cart' | t -%}

    {%- include 'button',
      class: 'product-form__add-to-cart',
      type: 'submit' -%}

    {%- assign value = nil -%}
  {%- else -%}
    {%- assign value = 'products.product.select_an_option' | t -%}

    {%- include 'button',
      class: 'product-form__select-variant',
      attr: '@click="toggleOptions" :class="classObject"'
      icon: 'icon-arrow-down' -%}

    <ul class="product-form__variants" :style="dropdownStyles" ref="variants">
      {%- for variant in product.variants -%}
        {%- unless variant.available -%}
          {%- continue -%}
        {%- endunless -%}

        <li class="product-form__variant" @click="onVariantClick('{{ variant.option1 }}')">
          {{ variant.title }} - {{ variant.price | money }}
        </li>
      {%- endfor -%}

      <li class="product-form__submit" @click="addToCart">
        {{ 'products.product.add_to_cart' | t }}
      </li>
    </ul>
    {%- assign value = nil -%}
  {%- endif -%}
</form>
