<script>
  BARREL.product = {{ product | json }};
  BARREL.product['options_with_values'] = {{ product.options_with_values | json }};
</script>

<div class="product-main mha w1">
  {%- include 'product-featured' -%}
  {%- include 'product-details' -%}
</div>
