{% assign class = class | default: blank %}
{% assign id = id | default: false %}
{% assign name = name | default: false %}
{% assign min = min | default: false %}
{% assign max = max | default: false %}
{% assign value = value | default: min | default: '0' %}
{% assign on_change = on_change | default: false %}
{% assign disabled = disabled | default: false %}

{% capture css %}
  quantity-selector {{ class }}
{% endcapture %}

{% capture attributes %}
  {% if id %}id="{{ id }}"{% endif %} {% if name %}name="{{ name }}"{% endif %} {% if min %}min="{{ min }}"{% endif %} {% if max %}max="{{ max }}"{% endif %} {% if value %}value="{{ value }}"{% endif %} {% if disabled %}disabled{% endif %}
{% endcapture %}

<div class="{{ css | strip }}" is="quantity-selector" {% if disabled %}disabled{% endif %} {% if on_change %}@change="on_change"{% endif %}>
  <button class="quantity-selector__action" type="button" data-count="-"><span>-</span></button>
  <input class="quantity-selector__field" type="number" {{ attributes | strip }}>
  <button class="quantity-selector__action" type="button" data-count="+"><span>+</span></button>
</div>

{% assign class = nil %}
{% assign id = nil %}
{% assign name = nil %}
{% assign min = nil %}
{% assign max = nil %}
{% assign value = nil %}
{% assign disabled = nil %}
{% assign css = nil %}
{% assign attributes = nil %}
{% assign on_change = nil %}

