.quantity-selector {
  align-items: center;
  display: inline-flex;
  position: relative;
  transition: opacity var(--duration) var(--ease);
  border: 1px solid var(--black);
}

.quantity-selector:disabled {
  opacity: 0.4;
}

.quantity-selector__action,
.quantity-selector__field.quantity-selector__field {
  height: 35px;
  line-height: 35px;

  @media (--m) {
    height: 26px;
    line-height: 26px;
  }
}

.quantity-selector__action {
  color: inherit;
  cursor: pointer;
  display: block;
  opacity: 1;
  padding: 0;
  text-align: center;
  transition: opacity var(--duration) var(--ease);
  user-select: none;
  height: 100%;
  font-size: 12px;
  width: 20px;

  span {
    position: relative;
    top: -1px;
  }
}

.quantity-selector__action:disabled {
  cursor: default;
  opacity: 0.4;
}

.quantity-selector__field.quantity-selector__field {
  width: 30px;
  margin-right: -5px;
  margin-left: -5px;
  padding: 0;
  color: inherit;
  text-align: center;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  box-shadow: none;

  &:focus {
    box-shadow: inset 0 0 0 1px var(--black);
  }
}

.quantity-selector__field::-webkit-inner-spin-button,
.quantity-selector__field::-webkit-outer-spin-button {
  appearance: none;
}

