.header {
  margin-bottom: 50px;

  @media (--s) {
    margin-bottom: 100px;
  }
}

.header__logo {
  color: var(--black);
  max-width: 754px;
  margin: 1.78571em auto;
  width: 100%;

  @media (--s) {
    margin: 3.57142em auto;
  }

  svg {
    max-height:  3.57142em;
  }
}

.header__nav-container {
  background: var(--white);
  padding: var(--gutter) 10px;
  position: relative;

  @media (--s) {
    padding: var(--gutter) 0;
  }

  &.is-sticky {
    position: fixed;
    top: 0;
    left: var(--gutter);
    right: var(--gutter);
    z-index: 200;
  }
}

.header__nav {
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  white-space: nowrap;
  overflow: auto;

  @media (--s) {
    justify-content: center;
  }
}

.header__nav-link {
  display: block;
  padding: 2px 10px;
  position: relative;

  @media (--s) {
    padding: 2px 25px;
  }
}
