{%- unless template contains 'cart' -%}
  <div data-module="mini-cart" v-cloak>
    <div
      inline-template
      is="mini-cart">
      <transition-group name="mini-cart">
        <div key="mini-cart" class="mini-cart bg-white relative" v-show="app.isMiniCartOpen">
          <div class="container">
            <div class="mini-cart__close">
                <button class="is-icon a1" href="/" @click="toggleMiniCart">
                  <i>
                    {%- include 'icon' with 'icon-x' -%}
                  </i>
                </button>
            </div>
          </div>

          {% include 'cart-grid', location: 'mini-cart' %}
        </div>
        <!-- add in loading state -->
        <div key="mini-cart-bg" class="mini-cart-bg bg-white" v-show="app.isMiniCartOpen" @click="toggleMiniCart"></div>

      </transition-group>
    </div>
  </div>
{%- endunless -%}
