{%- assign product_handles = product_handles | default: blank -%}
{%- assign class = class | default: blank -%}
{%- assign title = title | default: blank -%}
{%- assign product_handles_list = product_handles | split: ',' -%}

<div class="product-three-up" data-module="product-three-up">
  {%- if title != blank -%}
    <h2 class="product-three-up__title uppercase h2 align-c mb15">{{ title }}</h2>
  {%- endif -%}

  <div class="product-three-up__items f fw">
    {%- for handle in product_handles_list -%}
      {%- include 'product-card',
        item: all_products[handle],
        class: 'product-three-up__item fa' -%}
    {%- endfor -%}
  </div>
</div>

{%- assign product_handles = nil -%}
{%- assign class = nil -%}
{%- assign title = nil -%}
{%- assign product_handles_list = nil -%}
