{%- case icon -%}

  {%- when 'icon-x' -%}
    <svg class="w1" viewBox="0 0 11 11">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x" x="0" y="0"></use>
    </svg>

  {%- when 'icon-arrow-down' -%}
    <svg class="w1" viewBox="0 0 11 13">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-down" x="0" y="0"></use>
    </svg>
{%- endcase -%}
