<div class="hide">

  <!-- icon-x -->
  <svg width="11" height="11" xmlns="http://www.w3.org/2000/svg"><g fill-rule="evenodd" id="icon-x"><path d="M10.11 1.596l-8.484 8.485-.707-.707L9.404.89z"/><path d="M1.626.89l8.485 8.484-.707.707L.919 1.596z"/></g></svg>

  <!-- icon-arrow-down -->
  <svg class="down-arrow" viewBox="0 0 11 13"><path id="icon-arrow-down" d="M9.65 7.65l.71.71-4.5 4.5c-.1.1-.23.15-.35.15-.12 0-.26-.05-.35-.15l-4.5-4.5.71-.71 3.65 3.65V0h1v11.29l3.63-3.64z" fill-rule="nonzero" /></svg>

</div>
